/Carbon.Css.suo
/Carbon.Css.Tests/.DS_Store
/Carbon.Css/.DS_Store
/Carbon.Css.Tests/obj/
/Carbon.Css/bin/
/Carbon.Css/obj/
/Carbon.Css.v11.suo
/Carbon.Css.Tests/bin/
/release/
/Carbon.Css.Tests/bin
Carbon.Css.v12.suo
/Carbon.Css.v12.suo
.DS_Store
Carbon.Css.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Carbon.Color/obj
.vs
Carbon.Color/bin
bin
Carbon.Color.Tests/obj/Debug/Carbon.Color.Tests.csproj.FileListAbsolute.txt
Carbon.Color.Tests/obj
packages/NUnit.2.6.4
Carbon.Css.Tests/bin/Debug/nunit.framework.xml
Carbon.Css.Tests/bin/Debug/nunit.framework.dll
packages/NUnit.3.0.0-beta-2
packages/xunit.2.1.0-beta2-build2981
packages/xunit.abstractions.2.0.0
packages/xunit.assert.2.1.0-beta2-build2981
packages/xunit.core.2.1.0-beta2-build2981
packages/xunit.extensibility.core.2.1.0-beta2-build2981
packages/xunit.runner.visualstudio.2.1.0-beta2-build1055
Carbon.Css.Tests/obj/Debug/Carbon.Css.Tests.csproj.FileListAbsolute.txt
