/Carbon.Css.suo
/Carbon.Css.Tests/.DS_Store
/Carbon.Css/.DS_Store
/Carbon.Css.Tests/obj/
/Carbon.Css/bin/
/Carbon.Css/obj/
/Carbon.Css.v11.suo
/Carbon.Css.Tests/bin/
/release/
/Carbon.Css.Tests/bin
Carbon.Css.v12.suo
/Carbon.Css.v12.suo
.DS_Store
Carbon.Css.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Carbon.Color/obj
.vs
Carbon.Color/bin
bin
Carbon.Color.Tests/obj/Debug/Carbon.Color.Tests.csproj.FileListAbsolute.txt
Carbon.Color.Tests/obj
packages/NUnit.2.6.4
