//= partial

.hide {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  cursor: pointer;
  z-index: 12;
  border-bottom: none !important;
  box-shadow: none !important;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s ease, opacity 0.1s ease;
  transform: rotate(-90deg);

  > svg {
    height: 30px;
    width: 30px;
    stroke-width: 5px;
    stroke: $accentColor;
    
    &:hover {
      stroke: $textColor;
    }
  }
}

.aboutOpened {
  .hide {
    visibility: visible; 
    opacity: 1;
  }

  .mainInfo { 
    background: $backgroundColor;
    transition: background 0.3s ease; 
  }

  #aboutLink { 
    color: #fff !important; 
    box-shadow: 0 0 0 1px $accentColor !important; 
    background: $accentColor; 
  }
  
  .about {
    background: $backgroundColorAlt;
    transition: visibility 0.15s ease, opacity 0.15s ease;
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }
}

.contactOpened {
  .hide {
    visibility: visible; 
    opacity: 1;
  }

  .mainInfo {
    transition: background 0.3s ease;
    background: $backgroundColor;
  }

  #contactLink { 
    color: #fff !important; 
    box-shadow: 0 0 0 1px $accentColor !important; 
    background: $accentColor;
  }
  
  .contact {
    background: $backgroundColorAlt;
    transition: visibility 0.1s ease, opacity 0.1s ease;
    visibility: visible; 
    opacity: 1;
    z-index: 9;
  }
}
