i {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1em;
}


h1 {
  color: #333;
  font-size: 2em;
  font-weight: 400;
  margin: 4% 6%;
  padding: 15px;
  @include transition(color, 1s, ease, .5s);
  @include transition(opacity, 1s, ease, .5s);
  opacity: 1;
  
  a {
    color: #333;
    text-decoration: none;
    border-bottom: none;
    @include transition(color, 0.3s, ease);  
  }

  i {
    opacity: .3;
  }
}

h1 a:hover {
  color: #00e;
}

.leftAligned h1 {
  text-align: left;
  margin: 0 6% 10% 0;
}


h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: inline;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-right: 3px;
  padding-left: 3px;
  line-height: 1.4em;
  font-size: 1.5em;
}

h2.projectTitle {
  display: block;
  padding: 15px;
  border-bottom: none;
}

.leftAligned h2.projectTitle {
  text-align: left;
}


h3 {
  font-size: .9em;
  font-style: normal;
}
